<%= form_with(model: [ user, user.items.build ], url: purchase_items_path, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this item from being purchased:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being purchased:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%# <%= form.text_field :item %>
    <%= form.select :item, [["", nil], "coin", "die"] %>
  </div>

  <div class="field">
    <%= form.label :denomination %>
    <%# <%= form.text_field :denomination %>
    <%= form.select :denomination, [["", nil], ["0.05", 0.05], ["0.10", 0.10], ["0.25", 0.25], ["1.00", 1.00], ["2.00", 2.00]] %>
  </div>

  <div class="field">
    <%= form.label :sides %>
    <%= form.number_field :sides %>
  </div>

  <div class="field">
    <%= form.label :colour %>
    <%# <%= form.text_field :colour %>
    <%= form.select :colour, [["", nil], "red", "green", "blue", "yellow", "black", "white"] %>
  </div>

  <%= form.hidden_field :user_id, value: user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
