<p id="alert"><%= alert %></p>
<%# <% flash.each do |name, msg| -%>
<%#   <%= content_tag :div, msg, class: name %>
<%# <% end -%>
<p id="notice"><%= notice %></p>

<h1>Purchase Item</h1>

<p>Spend your gems to get more items!</p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<%= render 'form', user: current_user, item: @item %>

<%= link_to 'Exit Back to Home', root_path %>
