<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>

<% if @item.item == "coin" || @item.item == :coin %>
  <p>
    <strong>Item:</strong>
    <%= @item.item %>
  </p>
  <p>
    <strong>Denomination:</strong>
    <%= number_with_precision(@item.denomination, precision: 2) %>
  </p>

<% elsif @item.item == "die" || @item.item == :die %>
  <p>
    <strong>Item:</strong>
    <%= @item.item %>
  </p>
  <p>
    <strong>Sides:</strong>
    <%= @item.sides %>
  </p>
  <p>
    <strong>Colour:</strong>
    <%= @item.colour %>
  </p>

<% else %>
  <p>
    <strong>Item:</strong>
    <%= @item.item %> (unknown)
  </p>
<% end %>


<%= link_to 'Exit Back to Home', root_path %> |
<%= link_to 'Purchase More Items', new_purchase_item_path %><%# |
<%= link_to 'Edit', edit_user_item_path(@user, @item) %><%# todo mvb |
<%= link_to 'Destroy', user_item_path(@user, @item), method: :delete, data: { confirm: 'Are you sure?' } %>
