<p id="notice"><%= notice %></p>

<h1>User</h1>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>
<p>
  <strong>Gems:</strong>
  <%= @user.gems %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2><%= link_to 'Bag Contents', user_items_path(@user) %></h2>
<ul>
  <%= render @user.items %>
</ul>

<p>
  <strong>Hardcoded Bag Contents</strong>
  <ul>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: die, sides: 6, colour: :white}</li>
    <li>{item: die, sides: 6, colour: :white}</li>
    <li>{item: die, sides: 6, colour: :white}</li>
  <ul>
</p>
