<h1>Home#index</h1>
<p><%= notice %></p>

<% if current_user %>
  Logged in as <%= current_user.email %>, username <%= current_user.username %>, with <%= current_user.points %> points and <%= current_user.gems %> gems.

  <p>
    <%= link_to "Log Out", logout_path %> ||
    <%= link_to "Delete Account", current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p>
    Play a Game |
    Purchase Items
  </p>

  <p><strong>Bag Contents:</strong></p>
  <ul>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: coin, denomination: 0.25}</li>
    <li>{item: :die, sides: 6, colour: :white}</li>
    <li>{item: :die, sides: 6, colour: :white}</li>
    <li>{item: :die, sides: 6, colour: :white}</li>
  </ul>

<% else %>
  <%= link_to "Log In", login_path %> or
  <%= link_to "Sign Up", signup_path %>

<% end %>
