<h1>Home#index</h1>
<p><%= notice %></p>

<% if current_user %>
  Logged in as <%= current_user.email %>, username <%= current_user.username %>, with <%= current_user.points %> points and <%= current_user.gems %> gems.

  <p>
    <%= link_to "Log Out", logout_path %> ||
    <%= link_to "Delete Account", current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <p>
    Play a Game |
    <%= link_to "Purchase Items", new_purchase_item_path %>
  </p>

  <%# <h2><%= link_to 'Bag Contents', user_items_path(current_user) % ></h2> %>
  <h2>Bag Contents</h2>
  <ul>
    <%= render current_user.items %>
  </ul>

<% else %>
  <%= link_to "Log In", login_path %> or
  <%= link_to "Sign Up", signup_path %>

<% end %>
