<h1>Play a Game</h1>
<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<h2>Game Rules</h2>

<p>There will be a goal randomly generated in the form of description hashes based on the items you have. This goal may related to coins, dice, or both, and it will also determine if scores are calculated based on the sum or tally of rolls in the throws that match the goal.
The computer has the same items as you and will also be scored against the same goal descriptions; however, they will be randomly selecting the items they throw whereas you will always make an optimized throw.</p>
<br>
<p>If you win, you will earn points equal to the difference of your winning score and the computer's score after it has been multipled by a factor equal to the number of items used in your throw and divided by the total number of items in all throws.
In this game, this multiplication factor will always equal 1 because you make one optimized throw each game before the winner is determined. You also earn gems equal to half the amount of points you earn.</p>
<p>If you lose, there's no penalty.</p>
<br>
<p>You can spend gems to purchase new items, such as coins of various denominations and any-sided dice of various colours.</p>

<hr>

<p>Computer sets a random game goal: <strong>HIDDEN</strong> <i>('Play Game' to see the game goal)</i></p> <%# todo mvb -update this %>

<%= link_to 'Exit', root_path %> |
<%= link_to 'Play Game', playgame_path %>
