<h1>Play a Game</h1>
<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<h2>Simple Game Rules (not so simple anymore)</h2> <%# todo mvb -update this %>

<p>The goal is all items, both coins and dice, where the sum total of all rolls in the throws will be calculated. The computer will make an identical throw.</p>
<p>If you win, you will earn points equal to your winning score multipled by the number of items used in your throw and divided by the total number of items in all throws.
In this simple game, this multiplication factor will always equal 1. You also earn gems equal to half the amount of points you earn.</p>
<p>If you lose, there's no penalty.</p>
<br>
<p>You can spend gems to purchase new items, such as coins of various denominations, and any-sided dice of various colours.</p>

<hr>

<p>Computer sets game goal: <strong>Simple Game</strong></p>

<%= link_to 'Exit', root_path %> |
<%= link_to 'Play Game', playgame_path %>
