<h1>Play a Game</h1>
<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<h2>Simple Game Rules</h2>

<p>The goal is all items, both coins and dice, where the sum total of all rolls in the throws will be calculated. The computer will make an identical throw.</p>
<p>If you win, you will earn points equal to your winning score plus how much you won by multipled by the number of items used in your throw and divided by the total number of items in all throws.
In this simple game, this multiplication factor will always equal 1. You also earn gems equal to half the amount of points you earn.</p>
<p>If you lose, there's no penalty.</p>
<br>
<p>You can spend gems to purchase new items, such as coins of various denominations, and any-sided dice of various colours.</p>

<br><hr><br>

<p>Computer sets game goal: <strong>Simple Game</strong></p>

<h3>--- Simple Game ---</h3>

<p>Rolling all the player's items.</p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Your Results</th>
      <th>Computer Results</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Throw Roll Results:</strong></td>
      <td>[blank]</td>
      <td>[blank]</td>
    </tr>
    <tr>
      <td><strong>Throw Roll Totals:</strong></td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>

<h4>No contest! Better luck next time...</h4>

<p>
  <ul>
    <li>You earned 0 points!</li>
    <li>You earned 0 gems!</li>
  </ul>
</p>

<%= link_to 'Exit Back to Home', root_path %>
