<h1>Play Game Results</h1>
<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<h3>Simple Game Results</h3>

<p>Rolling all the player's items.</p>

<%# Get all the user's items, roll them all and append to an array the result, while also accumulating total sum (where heads = 1, tails = 0) %>
<% @items = current_user.items%>
<% @player_results = []%>
<% @player_sum = 0%>
<% for item in @items %>
  <% if item.item == "coin" || item.item == :coin %>
    <% coin_result = (rand(2) == 0 ? :T : :H) %>
    <% @player_results << coin_result %>
    <% @player_sum += (coin_result == :H ? 1 : 0) %>
  <% elsif item.item == "die" || item.item == :die %>
    <% die_result = 1 + rand(item.sides) %>
    <% @player_results << die_result %>
    <% @player_sum += die_result %>
  <% else %>
    <% @player_results << 0 %>
  <% end %>
<% end %>

<%# Do the same thing again, but for the computer %>
<% @items = current_user.items%>
<% @cpu_sum = []%>
<% @cpu_total = 0%>
<% for item in @items %>
  <% if item.item == "coin" || item.item == :coin %>
    <% coin_result = (rand(2) == 0 ? :T : :H) %>
    <% @cpu_sum << coin_result %>
    <% @cpu_total += (coin_result == :H ? 1 : 0) %>
  <% elsif item.item == "die" || item.item == :die %>
    <% die_result = 1 + rand(item.sides) %>
    <% @cpu_sum << die_result %>
    <% @cpu_total += die_result %>
  <% else %>
    <% @cpu_sum << 0 %>
  <% end %>
<% end %>

<%# Display results and sums of both player and computer throws %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Your Results</th>
      <th>Computer Results</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Throw Roll Results:</strong></td>
      <td><%= @player_results %></td>
      <td><%= @cpu_results %></td>
    </tr>
    <tr>
      <td><strong>Throw Roll Totals:</strong></td>
      <td><%= @player_sum %></td>
      <td><%= @cpu_sum %></td>
    </tr>
  </tbody>
</table>

<hr>

<%# Determine who won, including messages to display, etc. %>
<%# Properly calculate and display and increase earned points and gems based on the math, then save the user. %>

<% if @player_sum > @cpu_sum %>
  <h4>You win! Congratulations...</h4>

  <% @points_won = (@player_sum - @cpu_sum) * 1 %>
  <% @gems_won = (@points_won / 2).floor %>

  <% current_user.points += @points_won%>
  <% current_user.gems += @gems_won%>
  <% current_user.save %>

<% else %>
  <h4>You lose! Better luck next time...</h4>

  <% @points_won = 0 %>
  <% @gems_won = (@points_won / 2).floor %>
<% end %>

<p>
  <ul>
    <li>You earned <%= @points_won %> points!</li>
    <li>You earned <%= @gems_won %> gems!</li>
  </ul>
</p>

<%= link_to 'Exit', root_path %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Play Again', playgame_path %>
