<h1>Play Game Results</h1>
<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Points</th>
      <th>Gems</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong><%= current_user.email %></strong></td>
      <td><%= current_user.points %></td>
      <td><%= current_user.gems %></td>
    </tr>
  </tbody>
</table>

<br>

<h3>Game Results</h3>

<p>
  <strong>Goal Type: <%= current_goal_type == :tallied ? "Tally" : "Sum" %></strong><br>
  Coin Goal: <%= current_goal_coin_descr_hash ? current_goal_coin_descr_hash : "None" %><br>
  Die Goal: <%= current_goal_die_descr_hash ? current_goal_die_descr_hash : "None" %>
</p>

<%# <p>Rolling all the player's items.</p> %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Your Results</th>
      <th>Computer Results</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Throw Results:</strong></td>
      <td><%= @player_results %></td>
      <td><%= @cpu_results %></td>
    </tr>
    <tr>
      <td><strong>Throw <%= @results_descr %>:</strong></td>
      <td><%= @player_score %></td>
      <td><%= @cpu_score %></td>
    </tr>
  </tbody>
</table>

<hr>

<h4><%= @win_lose_msg %></h4>

<p>
  <ul>
    <li>You earned <%= @points_won %> points!</li>
    <li>You earned <%= @gems_won %> gems!</li>
  </ul>
  You now have <%= current_user.points %> points and <%= current_user.gems %> gems!
</p>

<%= link_to 'Exit', root_path %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Play Again', playgame_path %>
