<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Denomination</th>
      <th>Sides</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.user_id %></td> <!-- <td><%= User.find(item.user_id).email %></td> -->
        <td><%= item.item %></td>
        <td><%= item.denomination %></td>
        <td><%= item.sides %></td>
        <td><%= item.colour %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_user_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', users_path %> |
<%= link_to 'New Item', new_user_item_path(@user.id) %>
