<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %> <!-- todo mvb <%= User.find(@item.user_id).email %> -->
</p>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Denomination:</strong>
  <%= @item.denomination %>
</p>

<p>
  <strong>Sides:</strong>
  <%= @item.sides %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @item.colour %>
</p>


<%= link_to 'Back', user_items_path(@user) %> |
<%= link_to 'Edit', edit_user_item_path(@user, @item) %><%# todo mvb |
<%= link_to 'Destroy', user_item_path(@user, @item), method: :delete, data: { confirm: 'Are you sure?' } %>
